header {
    display: flex;
    justify-items: center;
    
}

img  {
    width: 300px;

}

h1 {
    padding: 10px 20px
}

h1 h2 {
    font-family: 'Roboto', sans-serif;
}

.grid {
    text-align: center;
}

.grid ul {
    list-style: none;
}

header, footer {
    text-align: center;
    background-color: #084A24;
    color: #EBEBEB;
    margin: 75px;
}