@media (min-width: 52em) {
    header div button {
        display: none;
    }

    nav ul#primarynav {
        display: flex;
        justify-content: flex-start;
    }

    .hero {
        grid-column: 1/2;
    }


    .weather {
        grid-column: 2/3;
    }

    .area-card {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

    .logo-footer {
        grid-column: 1/2;
    }

    .contact {
        grid-column: 2/3;
    }

}